@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Inter, Roboto, Helvetica, sans-serif;
}

body,
html {
  background-color: theme('backgroundColor.secondary');
  color: theme('textColor.primary');
  -webkit-font-smoothing: antialiased;
}

.wallet-adapter-dropdown {
  @apply relative flex w-full;
}

.wallet-adapter-button-trigger {
  @apply truncate px-6 whitespace-nowrap rounded-lg h-[40px] bg-gradient-wallet-button text-text font-semibold text-inverse hover:opacity-90 flex-1 flex items-center justify-center;
}

.wallet-adapter-dropdown-list {
  @apply w-full p-1.5 rounded-lg bg-button-primary
}
.wallet-adapter-dropdown-list-item:not([disabled]):hover {
  background-color: #323335;
}
.wallet-adapter-modal-title {
  @apply text-highlight font-bold;
}
